@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Outfit&display=swap');
:root {
    --primary-color: #0D0D0D;
    --secondary-color: #262626;
    --tertiary-color: #404040;
    --main-accent-color: #1A6FE5;
    --secondary-accent-color: #0EBE2C;
    --font-color: #F2F2F2;
    --font-family: "IBM Plex Mono", monospace;
    --font-size-h1: clamp(1.75rem, 1rem + 2vw, 2.5rem);
    --font-size-h2: clamp(1.5rem, 0.8rem + 2vw, 2.25rem);
    --font-size-h3: clamp(1.25rem, 0.7rem + 1.5vw, 1.75rem);
    --font-size-h4: clamp(1.1rem, 0.6rem + 1.5vw, 1.5rem);
    --font-size-h5: clamp(1rem, 0.6rem + 1vw, 1.25rem);
    --font-size-p: clamp(0.5rem, 0.5rem + 1vw, 1rem);
}

#root {
    overflow: hidden;
    overflow-wrap: normal;
}

body{
    width: 100%;
    margin: 0;
    background-color: var(--primary-color);
}

header {
    display: flex;
    flex-direction: row;
    background-color: var(--primary-color);
    justify-content: space-between;
    padding: 0 2rem;
    z-index: 1000;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

h1 {
    font-family: var(--font-family);
    font-weight: 700;
    font-style: normal;
    line-height: normal;
    font-size: var(--font-size-h1);
    color: white;
    width: fit-content;
}

h2 {
    width: fit-content;
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 1rem;
    background-image: linear-gradient(to right, var(--main-accent-color), var(--main-accent-color));
    background-repeat: no-repeat;
    background-size: 100% 0.75rem;
    background-position: 0 85%;
    font-family: var(--font-family);
    font-size: var(--font-size-h2);
    color: var(--font-color);
}

h3 {
    width: fit-content;
    font-family: var(--font-family);
    font-size: var(--font-size-h3);
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: var(--font-color);
    margin-bottom: 0.5rem;
    background-image: linear-gradient(to right, var(--main-accent-color), var(--main-accent-color));
    background-repeat: no-repeat;
    background-size: 100% 0.75rem;
    background-position: 0 85%;
}

h4 {
    width: clamp(300px, 70%, 800px);
    font-family: var(--font-family);
    font-size: var(--font-size-h4);
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: var(--font-color);
    margin: 2rem;
    background-position: 0 85%;
}

h5 {
    width: fit-content;
    font-family: var(--font-family);
    font-size: var(--font-size-h5);
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: var(--font-color);
    margin: 1rem 0;
}

p{
    font-family: var(--font-family);
    font-size: var(--font-size-h5);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: clamp(calc(768px / 2), 50%, 50%);
    color: var(--font-color);
    width: clamp(250px, 60%, 800px);
}

li {
    font-family: var(--font-family);
    font-size: var(--font-size-h5);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: fit-content;
    color: var(--font-color);
}

a {
    text-decoration: none;
    color: white;
    font-family: var(--font-family);
    font-weight: 400;
    font-style: normal;
    line-height: normal;
    font-size: 1.5rem;
}

html, body {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    overflow-x: clip;
}

* {
    box-sizing: border-box;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

footer {
    width: 100%;
    height: fit-content;
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 2rem;
}

@media (max-width: 799px) {
    footer {
        flex-direction: column;
    }
}

footer ul {
    padding-left: 32px;
}

footer li {
    list-style: none;
    margin-bottom: 1rem;
    font-size: var(--font-size-p);
    font-family: var(--font-family);
    color: var(--font-color);
}

footer li a {
    font-size: var(--font-size-p)
}

footer a:hover {
    text-decoration-line: underline;
}

footer h4 {
    width: fit-content;
}

.var-background {
    padding: 0 0.25rem;
    background-image: linear-gradient(to right, var(--main-accent-color), var(--main-accent-color));
    background-repeat: no-repeat;
    background-size: 100% 0.75rem;
    background-position: 0 85%;
    transition: background-size 0.2s ease-in-out;
    cursor: pointer;
}

.var-background:hover {
    background-size: 100% 100%;
}

.menu-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent; 
    box-shadow: 0px 0px 0px var(--secondary-color);
    border: none;
    border-radius: 0.5rem;
    transition: background-color 0.3s ease-in-out,
                box-shadow 0.3s ease-in-out;
}

.menu-button:hover {
    background-color: var(--secondary-color);
    box-shadow: 2px 2px 5px var(--secondary-color);
}

.mobile-menu{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 60%; /* Or your desired width */
    padding-top: 5rem; /* Adjust to clear your header */
    background-color: var(--secondary-color);
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    z-index: 999; /* Below header (1000) */
    box-sizing: border-box;
    padding-top: 1.75rem;
}

.mobile-menu-item {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    max-width: fit-content;
    border: none;
    margin: 0 0 0 2rem;
}

.mobile-menu.open {
    transform: translateX(0);
}

.portrait-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin: 0;
}

.portrait {
    border-radius: 5%;
    width: clamp(5rem, 40vw, 500px);
    aspect-ratio: 1 / 1;
}

.about {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 2rem;
    background-color: var(--primary-color);
    color: var(--font-color);
    font-family: var(--font-family);
    font-size: var(--font-size);
    line-height: 1.5;
}

@media (max-width: 799px) {
    .about {
        align-items: center;
        justify-content: center;
        text-align: start;
    }
}

.about-content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    gap: 2rem;
    overflow: hidden;
}

@media (max-width: 799px) {
    .about-content {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: start;
    }
}

.scroll-container {
    width: 100%;
    margin: 2rem 0;
    position: relative;
    
}

.scroll-content {
    display: flex;
    overflow-x: auto;
    padding: 0;
    scroll-snap-type: x mandatory;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.scroll-content::-webkit-scrollbar {
    display: none;
}

.scroll-content .scroll-item {
    flex: 0 0 100%;
    display: flex;
    height: auto;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: var(--secondary-color);
    border-radius: 0rem;
    scroll-snap-align: start;
    padding: 2rem 0;
    margin: 0rem 1rem;
}

.scroll-content .scroll-item h3 {
    background-image: none;
    margin: 0;
    background-image: linear-gradient(to right, var(--main-accent-color), var(--main-accent-color));
    background-repeat: no-repeat;
    background-size: 100% 0.75rem;
    background-position: 0 85%;
}

.scroll-item p {
    width: 80%;
    margin: 1rem auto 0;
    text-align: center;
    font-size: 1rem;
    line-height: 1.5;
}

.scroll-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--tertiary-color);
    color: white;
    border: none;
    border-radius: 50%;
    width: 44px;
    height: 44px;
    font-size: 1.5rem;
    cursor: pointer;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.2s ease-in-out;
}

.scroll-button:hover {
    background-color: var(--main-accent-color);
}

.scroll-button.left {
    left: 0.25rem;
}

.scroll-button.right {
    right: 0.5rem;
}

#skills {
    display: flex;
    flex-direction: column;
    align-items: start;
}

@media (max-width: 799px) {
    #skills {
        align-items: center;
    }
}

#education {
    display: flex;
    flex-direction: column;
    align-items: start;
}

@media (max-width: 799px) {
    #education {
        align-items: center;
    }
}

#Awards {
    display: flex;
    flex-direction: column;
    align-items: start;
}

@media (max-width: 799px) {
    #Awards {
        align-items: center;
    }
}